*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
.page1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 800px;
    width: 100%;
}
.page2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 800px;
    width: 100%;
}
.page3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 800px;
    width: 100%;
}
.box{
    height: 200px;
    width: 200px;
    background-color: black;
}
